.App {
  text-align: center;
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-wrapper * + * {
  margin-bottom: 50px;
}

input {
  padding: 10px 14px;
  font-size: 1.6rem;
}

.converter-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* input css */
.input-wrapper {
  display: flex;
}

.input-wrapper label {
  flex: 1;
}

.input-wrapper input {
  flex: 2;
}
